@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.FormContainer{
display: flex;
flex-direction: column;

}

.FormContainer input{
    background-color: #63E5DF;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    width: 328px;
    height: 30px;
    padding-left: 5px;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
}

.FormContainer input::placeholder{
    color: #000;
}

.btn-comenzar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

.btn-next-comenzar{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;

    color: #000;
    
    border-color: #000;
    border-style: groove;
    border-radius: 5px;
    border-width: 1px;

    width: 157px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: -59px;
    margin-top: 52px;

    background-color: #63E5DF;
}
