@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.flex-fondo-fin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: -5px;
    padding: 20px;
    height: 55vh;
}

.logo-fin img{
    margin-bottom: 30px;
}

.flex-fondo-fin div{
    text-align: center;
}

.div-fin-h2-p-p h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}



.div-fin-h2-p-p .p-div-info-12{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 35px;
    top: 0;
    left: 0;
    padding: 5px;
}

.div-fin-h2-p-p .p-div-info-14{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 35px;
    top: 0;
    left: 0;
    padding: 5px;
}

.fondofruta{
    background-image: url(../../assets/imgfrutasfin.png);
    background-repeat: round;
    width: 100vw;
}

.fondofruta img{
    width: 100vw;
}


@media all and (min-width: 375px){
    .margin-pag-fin{
        margin: -5px;
    }
}

@media all and (min-width: 380px){
    .margin-pag-fin{
        margin: -10px;
    }
}

@media all and (min-width: 390px){
    .margin-pag-fin{
        margin: -10px;
    }
}

@media all and (min-width: 400px){
    .margin-pag-fin{
        margin: -20px;
    }
}

@media all and (min-width: 412px){
    .margin-pag-fin{
        margin: -25px;
    }
}

@media all and (min-width: 414px){
    .margin-pag-fin{
        margin: -20px;
    }
}