#breakfast, #lunch, #afternoon, #dinner{
    display: inline-flex;
    width: 71px;
    margin: 0px 5px 20px 22px;
    border-style: none;
    background: none;
}

.img-comidas-hover{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.img-comidas-hover:hover{
    box-shadow: 1px 1px 10px 3px #63e5df;
    border-radius: 5px;
}
