@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.conte-spinner{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    height: 100vh
}

.spinner{
    animation: spin 1s ease infinite;
    -webkit-animation: spin 1s ease infinite;
}

.spinner img{
    width: 40px;
    height: 40px;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }         
}

.conte-spinner p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500px;

    margin-top: 10px;
}