@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{

 margin: 0;
padding: 0px;
}
body {
  margin: 0;
padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root > h2{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 50px 20px 30px;
  width: 241px;
}

#root > p:nth-child(2){
  width: 95px;
  margin: 0px 20px 20px;

  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#root{
  padding: 0;
}

@media all and (min-width: 360px) {
  #root{
    padding: 0px;
  }

  #root > div.contador{
    top: 133px;
    right: 17px;
  }
}

@media all and (min-width: 375px) {
  #root{
    padding: 5px;
  }

  #root > div.contador{
    top: 139px;
    right: 26px;
  }
}

@media all and (min-width: 414px) {
  #root{
    padding: 20px;
  }

  #root > div.contador{
    top: 153px;
    right: 50px;
  }
}



